body {
	background: green;
}

.pointer {
	pointer-events: none;
}

#maincontainer {
	position: absolute;
	margin: auto;
	background: black;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 800px;
	height: 500px;
	border-top: none;
	border-radius: 20px;
}

#first {
	margin: 0;
	height: 100px;
	width: 800px;
}

/* https://codepen.io/jamesbarnett/pen/kfmKa */

.marquee {
  height: 100px;
  width: 660px;

  overflow: hidden;
  position: absolute;
  margin: 0px 0px 0px 15px;
}

.marquee div {
  display: block;
  width: 100%;
  height: 100px;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  width: 100%;
	color: white;
	font-size: 70px;
}

@keyframes marquee {
  0% { right: 100%; }
  100% { right: -100%; }
}

.time {
	position: fixed;
	width: 10%;
	margin: 15px 0px 0px 630px;
}

.time2 {
	position: absolute;
	width: 10%;
	font-size: 80px;
	margin: 5px 0px 0px 690px;
}

#counter {
	position: absolute;
	width: 10%;
	font-size: 50px;
	color: white;
  margin: 195px 0px 0px 710px;
}

#header {
	background: orange;
	height: 100%;
	width: 100%;
}

#second {
	margin: 0;
	height: 400px;
	width: 800px;
	perspective: 1000px;
}

#a {
	position: absolute;
	margin: 0;
	background: purple;
	height: 100%;
	width: 100%;
}

#start {
	position: fixed;
	margin: 330px 0px 0px 650px;
}

#introcontainer {
	position: absolute;
	width: 60%;
	height: 60%;
	margin: 80px 0px 0px 190px;
}

#section1 {
	float: left;
}

#section2 {
	float: left;
}

/*https://desandro.github.io/3dtransforms/docs/card-flip.html*/

#card {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: transform 2s;
}

#card figure {
	margin: 0;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;

}

#b {
	background: white;
}

#wrRecord1 {
	position: absolute;
	width: 40%;
	text-align: right;
	margin: 280px 0px 0px 460px;
}

#wrRecord {
	font-size: 80px;
	text-align: right;
	color: white;
}

#next {
	position: absolute;
	margin: 255px 0px 0px 645px;
}

#answer {
	position: absolute;
	margin: 10px 0px 0px 20px;
	font-size: 40px;
	color: white;
}

#imagebox {
	position: absolute;
	overflow: hidden;
	margin: 60px 0px 0px 20px;
	width: 300px;
	height: 200px;
}

#image {
	width: 300px;
	height: 200px;
}

#question1 {
	position: absolute;
	width: 90%;
	margin: 40px 0px 0px 40px;
	text-align: center;
}

#question {
	text-align: center;
}

#buttondiv {
	position: absolute;
	margin: 110px 0px 0px 250px;
	vertical-align: center;
}

#c {
	transform: rotateX( 180deg );
}

#card.flipped {
	transform: rotateX( 180deg );
}

.red {
	background: red;
}

.green {
	background: green;
}

#d {
	position: absolute;
	margin: 0;
	background: purple;
	height: 100%;
	width: 100%;
}

#gameover {
	position: fixed;
	margin: 150px 0px 0px 25px;
	font-size: 80px;
	color: white;
}

#restart {
	position: fixed;
	margin: 330px 0px 0px 30px;
}

/* buttons */

.startstopnext {
	padding: 0;
	margin: 5px 5px 5px 5px;
	border: none;
	border-radius: 5px;
	background: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	outline: none;
	width: 130px;
	height: 50px;
}

.startstopnext:hover {
	background: black;
	color: white;
}

.answerblock {
	display: block;
	border: 4px solid black;
	border-radius: 10px;
	background: white;
	color: black;
	outline: none;
	width: 300px;
	height: 40px;
	margin: 10px 0px 0px 0px;
}

.answerblock:hover {
	background: black;
	color: white;
}

.choices {
	padding: 0;
	margin: 5px 5px 5px 5px;
	border: none;
	border-radius: 5px;
	background: green;
	outline: none;
	width: 200px;
	height: 100px;
	transition: 1s;
	overflow: hidden;
}


/*https://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering*/

.button__wrap {
  position: relative;
  float: left;
  margin: 5px 5px 5px 5px;
  border: none;
	border-radius: 5px;
  width: 200px;
	height: 100px;
}

.button__description {
  position: absolute;
  text-align: center;
  line-height: 100px;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.button__wrap:hover .button__description {
  visibility: visible;
  opacity: 1;
	transition: box-shadow 0.3s ease-in-out;
	transition: 1s;
}



