body {
	background: green;
}

#maincontainer {
	position: absolute;
	margin: auto;
	background: gray;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 800px;
	height: 500px;
	border-radius: 5px;
}

#first {
	margin: 0;
	height: 100px;
	width: 800px;
}

#title {
	position: fixed ;
	width: 10%;
	margin: 5px 0px 0px 15px;
	color: white;
	font-size: 80px;
}

.time {
	position: fixed;
	width: 10%;
	margin: 15px 0px 0px 630px;
}

#counter {
	position: fixed;
	width: 10%;
	margin: 15px 0px 0px 540px;
}



#header {
	background: orange;
	height: 100%;
	width: 100%;
}

#second {
	margin: 0;
	height: 400px;
	width: 800px;
	perspective: 400px;
}

#a {
	position: absolute;
	margin: 0;
	background: purple;
	height: 100%;
	width: 100%;
}

#start {
	position: fixed;
	margin: 330px 0px 0px 30px;
}

/*https://desandro.github.io/3dtransforms/docs/card-flip.html*/

#card {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: transform 2s;
}

#card figure {
	margin: 0;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;

}

#b {
	background: white;
}

#wrRecord {
	position: absolute;
	font-size: 80px;
	color: white;
	margin: 100px 0px 0px 250px;
}

#next {
	position: absolute;
	margin: 200px 0px 0px 250px;
}

#question {
	position: fixed;
	margin: 20px 0px 0px 25px;
}

#buttondiv {
	position: absolute;
	margin: 110px 0px 0px 50px;
}

#c {
	transform: rotateX( 180deg );
}



#card.flipped {
	transform: rotateX( 180deg );
}



.red {
	background: red;
}

.green {
	background: green;
}

#d {
	position: absolute;
	margin: 0;
	background: purple;
	height: 100%;
	width: 100%;
}

#gameover {
	position: fixed;
	margin: 150px 0px 0px 25px;
	font-size: 80px;
	color: white;
}

#restart {
	position: fixed;
	margin: 330px 0px 0px 30px;
}



button {
	display: block;
	width: 300px;
	height: 40px;
	margin: 5px 0px 0px 0px;
}


